*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    height:940px;
    width:100%;
    /* background-color:gray; */
    overflow-x: hidden;
    
}
header > .header-inner{
    height:100%;
    width:1536px;
    background-image:url('header.webp');
    background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    position:relative;
}
.header-inner > .left{
   height:10%;
   width:10%;
   /* border:1px solid white; */
   display: flex;
   justify-content: center;
   align-items: center;
   cursor:pointer;
   margin-top:25px;
}
.left > img{
    height:50%;
    width:80%;
}
.header-inner > .center{
    height:10%;
    width:65%;
    /* border:1px solid orange; */
    margin-top:25px;
}
.center > .list1{
   color: whitesmoke;
    list-style: none;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 75px;
    cursor:pointer;
}
.header-inner > .right{
    height:10%;
    width:25%;
    /* border:1px solid pink; */
    margin-top:25px;
}
.right > .list2{
    list-style: none;
    color:whitesmoke;
    display: flex;
    justify-content:center;
    margin-top: 30px;
    gap:45px;
    cursor:pointer;
}
.header-inner > .content-box{
    height: 375px;
    width: 615px;
    /* border: 1px solid white; */
    position: absolute;
    top: 300px;
    left:165px;
}
.content-box > .photographer{
    color:whitesmoke;
    font-family: sans-serif;
    font-size:19px;
}
.content-box > h1{
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size:75px;
    font-weight:500;
}
.content-box > .para{
    color: #7c7c80;
    font-weight: 700;
    font-size: 14px;
    opacity: 0.5;
    font-family: sans-serif;
    margin-top: 15px;
    line-height: 1.6;
}
.content-box > .read{
    color:whitesmoke;
    font-family:sans-serif;
    font-weight: 500;
    font-size:15px;
    margin-top:110px;
    margin-left:50px;
    cursor:pointer;
}
.header-inner > .rotate{
    height: 130px;
    width: 25px;
    /* border: 1px solid white; */
    position: absolute;
    top: 570px;
    left: 85px;
}
.rotate > p{
    color: whitesmoke;
    font-size: 11px;
    font-family: sans-serif;
    transform: rotate(90deg);
    position: absolute;
    left: -16px;
    top: 33px;
}
.rotate > p > span{
    position: absolute;
    top: 0px;
    left: 58px;
}
.header-inner > .line{
    height: 150px;
    width: 1px;
    background-color: whitesmoke;
    position: absolute;
    top: 670px;
    left: 94px;
}
.header-inner > .profile{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 830px;
    left: 65px;
    cursor:pointer;
}
.profile > img{
    height: 100%;
    width:100%;
    border-radius:50%;
}
.header-inner > .main-circle{
    height: 160px;
    width: 20px;
    /* border: 1px solid white; */
    position: fixed;
    top: 375px;
    left: 30px;
    z-index:10;
}
.main-circle > .circle1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #020202;
    /* border: 1px solid whitesmoke; */
    position: absolute;
    top: 30px;
    left:2px;
    z-index:10;
}
.main-circle  > .circle2{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    position: absolute;
    top: 57px;
    left:2px;
    z-index:10;
}
.main-circle > .circle3{
    height: 15px;
    width: 15px;
    border-radius: 50%; 
    border: 1px solid gray;
    position: absolute;
    top:85px;
    left:2px;
    z-index:10;
}







/* cilent area */





.Testimonials{
    height:763px;
    width:100%;
    /* background-color: blanchedalmond; */
    overflow-x: hidden;
}
.Testimonials > .Testimonials-inner{
    height:100%;
    width:1536px;
    background-image:url('back.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin:0 auto;
    position:relative;
}
.Testimonials-inner > h3{
    color: black;
    font-size: 48px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 130px;
    left: 550px;
}
.Testimonials-inner > .para2{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    opacity: 0.5;
    font-family: "Montserrat", sans-serif;
    line-height: 1.9;
    position: absolute;
    top: 225px;
    left: 260px;
}
.Testimonials-inner > .para2 > span{
    position: absolute;
    left:280px;
}
.Testimonials-inner > .women{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 430px;
    left: 715px;
}
.women > img{
    height:100%;
    width:100%;
    border-radius:50%;
}
.Testimonials-inner > .bride{
    font-family:"Montserrat", sans-serif;
    color:black;
    font-style: italic;
    position: absolute;
    top:515px;
    left:680px;
}
.Testimonials-inner > .bride > span{
    color:#7c7c80;
}
.Testimonials-inner > .all{
    height: 50px;
    width: 200px;
    /* border: 1px solid orange; */
    position: absolute;
    top: 585px;
    left: 645px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Montserrat", sans-serif;
    font-weight: 400;
    font-size:14px;
}





/* incredible area */





.incredible{
    height:795px;
    width:100%;
    background-color: azure;
    overflow-x: hidden;
}
.incredible > .incredible-inner{
    height: 100%;
    width:1536px;
    background-image:url('naked.webp');
    background-size: contain;
    background-repeat: no-repeat;
    margin:0 auto;
    position:relative;
}
.incredible-inner > .professional{
    height: 335px;
    width:840px;
    /* border: 1px solid white; */
    position: absolute;
    top:130px;
    left:25px;
}
.professional > p{
    color:whitesmoke;
    font-family: sans-serif;
    font-size:19px;
}
.professional > h3{
    font-size:59px;
    color: whitesmoke;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    transform: scale(1.1);
    margin-left:35px;
    margin-top: 10px;
}
.professional > .read2{
    color:whitesmoke;
    font-family:sans-serif;
    font-weight: 500;
    font-size:15px;
    margin-top:50px;
    margin-left:50px;
    cursor:pointer;
}
.incredible-inner > .para3{
    color:#7c7c80;
    font-family: sans-serif;
    line-height:1.3;
    position: absolute;
    top: 185px;
    left: 925px;
}
.incredible-inner > .number{
    height: 240px;
    width: 1536px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top:555px;
}
.number > .taken{
    height:100%;
    width:20%;
    /* border: 1px solid gray; */
}
.taken > .no1{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size:72px;
    font-weight: 500;
    position: absolute;
    left:60px;
    top: 10px;
}
.taken > .picture{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    position: absolute;
    top:90px;
}



.number > .happy{
    height:100%;
    width:20%;
    /* border:1px solid orange; */
    position:relative;
}
.happy > .no2{
    color:whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size:72px;
    font-weight: 500;
    position: absolute;
    left:0px;
    top: 10px;
}
.happy > .happy1{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    position: absolute;
    top:90px;
}


.number > .wedding{
    height:100%;
    width:20%;
    /* border:1px solid yellow; */
    position: relative;
}
.wedding > .no3{
    color:whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size:72px;
    font-weight: 500;
    position: absolute;
    left:0px;
    top: 10px;
}
.wedding > .shoot{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    position: absolute;
    top:90px;
}




.number > .followers{
    height:100%;
    width:20%;
    /* border:1px solid red; */
    position: relative;
}
.followers > .no4{
    color:whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-weight: 500;
    position: absolute;
    left:0px;
    top: 10px;
}
.followers > .followers1{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    position: absolute;
    top:90px;
}







/* touch area */



.touch{
    height:236px;
    width:100%;
    /* background-color: gray; */
    overflow-x: hidden;
}
.touch > .touch-inner{
    height:100%;
    width:1536px;
    background-color: #000;
    background-image: url('eyes.webp');
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    position: relative;
}
.touch-inner > p{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
   position: absolute;
   top:100px;
   left:110px;
}
.touch-inner > .line2{
    height: 1px;
    width: 706px;
    background-color: whitesmoke;
    position: absolute;
    top: 150px;
    left:112px;
}
.touch-inner > .read3{
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 118px;
    left: 1165px;
    cursor: pointer;
}


/* footer area */




footer{
    height:380px;
    width:100%;
    /* background-color:antiquewhite; */
    overflow-x: hidden;
}
footer > .footer-inner{
    height:100%;
    width:1536px;
    /* background-color: violet; */
    background-image: url('chess.webp');
    background-size:contain;
    background-repeat: no-repeat;
    margin:0 auto;
    position: relative;
}
.footer-inner > img{
    position: absolute;
    top:45px;
    left:190px;
}
.footer-inner > .para4{
    color:#534f5b;
    font-family: "Montserrat", sans-serif;
    line-height:1.7;
    position: absolute;
    top:110px;
    left:190px;
}
.footer-inner > .talk{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 52px;
    left: 770px;
    letter-spacing: 5px;
}
.footer-inner > .list3{
    color: #534f5b;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    font-size: 15px;
    position: absolute;
    top: 106px;
    left: 762px;
    cursor: pointer;
}
.footer-inner > .list3 > li{
    padding:10px;
}
.footer-inner > .locate{
    color: whitesmoke;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 52px;
    left: 1140px;
}
.footer-inner > .list4{
    color: #534f5b;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    font-size: 15px;
    position: absolute;
    top: 115px;
    left: 1133px;
    cursor:pointer;
}
.footer-inner > .list4 > li{
    padding:10px;
}
.footer-inner > .copy{
    color:#534f5b;
    font-family:"Montserrat", sans-serif;
    position: absolute;
    top: 280px;
    left:650px;
}